html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
    background-image: url(../images/qbkls.png);
}

html * {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    width: 80%;
    background-color: #ffffff;
    height: auto;
    margin: 0 auto;
}

h1 {
    float: left;
    width: 75%;
    color: #d7d2cc;
}

a.nav-link.active {
    color: #d7d2cc !important;
}

h2 {
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d7d2cc;
    color: #304352;
}

p {
    text-align: center;
}

nav {
    color: #ffffff;
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #304352, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#P_Me {
    width: 200px;
    height: 220px;
    margin-left: 20px;
    min-height: 200px;
    min-width: 200px;
    float: left !important;
    margin: 0 auto;
}

.L_Title {
    color: black;
    font-size: 25px;
}

.L_Favorite {
    color: black;
    font-size: 18px;
}

#Car {
    margin: 0 auto;
}

#Pizza {
    width: 300px;
    height: 350px;
    opacity: 0.75;
}

#Got {
    width: 300px;
    height: 350px;
    opacity: 0.75;
}

#Star {
    width: 300px;
    height: 350px;
    opacity: 0.75;
}

#T_Contact {
    margin-top: 10px;
    margin: 0 auto;
}

.T_Contact {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin: 0 auto;
}

#Contact {
    margin: 0 auto;
}

#Submit {
    border: none;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.badge-danger {
    margin: 0 auto;
    width: 45%;
    height: 15px;
}

img {
    max-width: 100%;
    width: auto\9; /* ie8 */
    border: #d7d2cc 2px solid;
}

.PicMargin {
    margin: 0 auto;
}

.Footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #304352, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4px;
    height: 35px;
    border-top: 2px solid #d7d2cc;
    margin: 0 auto;
}

#Bio {
    margin: 0 auto;
    margin-top: 5px;
}

.d-none {
    display: block !important;
}

.portContent {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media only screen and (max-width: 560px) {
    .PicMargin {
        width: 200px;
        height: 200px;
    }
}