body {
    background-image: url(../images/back.png);
}

.brand-logo {
    margin-top: 10px;
    margin-left: 10px;
}

.nav-wrapper {
    background-color: #007468;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #007468;
    z-index: 1;
}

.footerText {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}

.navText {
    font-size: 20px;
    padding: 22px;
}

.aboutMain, .contactMain, .portfolioMain {
    background-color: rgb(247, 247, 247);
    height: 100%;
    margin-top: 5px;
    padding-bottom: 40px;
}

.portfolioMain {
    padding-bottom: 80px;
    margin-bottom: 5px;
}

.aboutTitle {
    font-size: 30px;
    margin-left: 10px;
    padding-top: 10px;
}

#myPic {
    margin-left: 10px;
    width: 200px;
    height: 220px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.aboutText {
    margin-right: 25px;
    text-align: justify;
    line-height: 1.2;
}

.skills {
    line-height: 1.5;
}

.contact {
    width: 60%;
    margin: 0 auto;
    margin-top: 22px;
}

.portCard {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .contact {
        width: 100%;
    }
}